body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'KoHo', sans-serif;;
}

body{
    background-color:oldlace;
}

h1{color:rgb(16, 99, 16);}
h1 {font-size: 3em;}

.bold{
   font-weight:bolder; 

}

.black-border{
    border:5px solid black;
}

#background{
    background-color:whitesmoke;
}
